.productView {
  padding: 96px 48px;
  max-width: 1112px;
  margin: 0 auto;

  & > .productContainer {
    display: flex;

    & > .productImageContainer {
      width: calc(50% - 48px);
      height: 100%;
      margin-right: 96px;

      & > .productImage {
        border-radius: 16px;
        width: 100%;
      }

      & > .previewList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        gap: 8px;

        margin-top: 32px;
        border-radius: 10px;

        & > .previewItem {
          border-radius: 10px;
          overflow: hidden;
          cursor: pointer;

          &.active {
            outline: 3px solid $orange;
          }

          & > .previewItemImage {
          }
        }
      }
    }

    & > .infoContainer {
      display: flex;
      flex-direction: column;
      width: calc(50% - 48px);

      & > .companyName {
        font-weight: 700;
        font-size: 14px;
        color: $orange;
        letter-spacing: 1px;
        margin-bottom: 16px;
      }

      & > .name {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 32px;
      }

      & > .description {
        color: $dark-grayish-blue;
        letter-spacing: 0.2px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }

      & > .priceContainer {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        margin-bottom: 40px;

        & > .priceRow {
          display: flex;
          align-items: center;

          & > .price {
            font-size: 28px;
          }

          & > .discount {
            padding: 4px 8px;
            background-color: $pale-orange;
            color: $orange;
            font-size: 15px;
            border-radius: 10px;
            margin-left: 16px;
          }
        }

        & > .oldPrice {
          color: $grayish-blue;
          text-decoration: line-through;
        }
      }

      & > .cartRow {
        display: flex;

        & > .quantityBox {
          width: 160px;
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          justify-content: s;
          background-color: $light-grayish-blue;
          font-weight: 700;
          border-radius: 10px;
          user-select: none;

          & > .minus,
          & > .plus {
            display: flex;
            align-items: center;
            height: calc;
            font-size: 32px;
            color: $orange;
            cursor: pointer;
            padding: 0 16px 8px;
            border-radius: 10px;

            &.disabled {
              color: $dark-grayish-blue;
              pointer-events: none;
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
          }

          & > .quantity {
          }
        }

        & > .addCartButton {
          margin-left: 16px;

          & > .cartIcon {
            margin-right: 8px;
            filter: brightness(100);
          }
        }
      }
    }
  }
  @media (max-width: 1023px) {
    padding: 48px 24px;

    & > .productContainer {
      & > .productImageContainer {
        width: calc(50% - 24px);
        margin-right: 48px;
      }

      & > .infoContainer {
        width: calc(50% - 24px);
      }
    }
  }

  @media (max-width: 1023px) {
    padding: 0;

    & > .productContainer {
      flex-direction: column;

      & > .productImageContainer {
        width: 100%;

        & > .productImage {
          border-radius: 0;
        }

        & > .previewList {
          display: none;
        }
      }

      & > .infoContainer {
        width: 100%;
        padding: 24px;

        & > .companyName {
          font-size: 12px;
          margin-bottom: 6px;
        }

        & > .name {
          font-size: 28px;
          margin-bottom: 16px;
        }

        & > .description {
          font-size: 15px;
          margin-bottom: 16px;
        }

        & > .priceContainer {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;

          & > .priceRow {
            & > .price {
              font-size: 22px;
            }

            & > .discount {
              font-size: 14px;
            }
          }

          & > .oldPrice {
            color: $grayish-blue;
            text-decoration: line-through;
          }
        }

        & > .cartRow {
          display: flex;
          flex-direction: column;

          & > .quantityBox {
            width: 100%;
            margin-bottom: 16px;

            & > .minus,
            & > .plus {
              display: flex;
              align-items: center;
              height: calc;
              font-size: 32px;
              color: $orange;
              cursor: pointer;
              padding: 0 16px 8px;
              border-radius: 10px;

              &.disabled {
                color: $dark-grayish-blue;
                pointer-events: none;
              }

              &:hover {
                background-color: rgba(0, 0, 0, 0.05);
              }
            }

            & > .quantity {
            }
          }

          & > .addCartButton {
            margin-left: 0;

            & > .cartIcon {
              margin-right: 8px;
              filter: brightness(100);
            }
          }
        }
      }
    }
  }
}
