.lightBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $light-box-black;

  & > .lightBoxContent {
    width: 80vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > .previewList {
      display: grid;
      grid-template-columns: auto auto auto auto;
      flex-wrap: wrap;
      margin-top: 32px;
      gap: 32px;

      & > .previewItem {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
      }
    }
  }
}
